/**
 * Remove the unit of a length
 *
 * @param  {Number} $number - Number to remove unit from
 *
 * @return {Number} - Unitless number
 */
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

/**
 * calculate em value for pixel dimenions, based on $font-size-base variable
 *
 * @param  {Mixed}   $px
 *
 * @return {String}  The em value
 */
@function px-to-em($px) {
    $em: (strip-unit($px) / strip-unit($font-size-base));
    @return #{$em}em;
}
