/**
 * Boilerplate stylesheet
 */
/* theme */
.Mic32NewRounded-Light {
  font-family: Mic32NewRounded-Light;
  font-weight: normal;
  font-style: normal; }

.Mic32NewRounded-Bold {
  font-family: Mic32NewRounded-Bold;
  font-weight: normal;
  font-style: normal; }

/* vars */
/**
 * base colors
 */
/**
 * bootstrap sass
 * @see https://getbootstrap.com/docs/3.3/customize/
 */
/**
 * Remove the unit of a length
 *
 * @param  {Number} $number - Number to remove unit from
 *
 * @return {Number} - Unitless number
 */
/**
 * calculate em value for pixel dimenions, based on $font-size-base variable
 *
 * @param  {Mixed}   $px
 *
 * @return {String}  The em value
 */
/* vendor imports */
/* partials/components */
body {
  font-family: Mic32NewRounded-Light;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.5px;
  overflow-x: hidden; }

h1, h2, h3, h4, h5 {
  font-family: Mic32NewRounded-Bold;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.2px; }

.chevron-link a:before {
  content: '';
  background: url("/img/chevron_right.png");
  background-size: cover;
  position: absolute;
  width: 10px;
  height: 16px;
  margin-top: 7px;
  margin-left: -20px; }

.chevron-link a {
  margin-left: 20px;
  text-decoration: underline; }

a.no-style,
.no-style {
  color: inherit;
  background-color: transparent; }

.inhert-link a {
  color: inherit;
  background-color: transparent; }

.no-style:active,
.no-style:focus,
.no-style:hover {
  text-decoration: none; }

.block-type-1, .image-scroller-block-type-1, .text-image-or-video-block-type-1, .header-quote-block-type-1, .contact-form-block-type-1, .eight-at-nine-maps-contact-block-type-1 {
  line-height: 28px;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 10px; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-bottom: 25px; }

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-weight: 700; }

a {
  transition: all .2s; }

.button-link {
  padding: 10px 15px 7px 15px;
  border-radius: 4px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  height: 100%; }
  .button-link:hover {
    transition: all .2s ease-in-out;
    opacity: 0.8; }

.button-link .fa-angle-right {
  font-size: 2em;
  margin-top: -5px;
  padding-top: 0;
  padding-left: 100px;
  vertical-align: middle; }

.button__transparent--fill {
  width: 200px;
  padding: 5px;
  border: 1px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: transparent;
  margin-top: 10px; }
  .button__transparent--fill:hover {
    background: white;
    transition: all .2s ease-in-out; }
    .button__transparent--fill:hover > a {
      color: #32A9D8 !important;
      text-decoration: none; }

.button-arrow {
  padding: 10px 15px 7px 15px;
  border-radius: 4px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  height: 100%; }
  .button-arrow:hover {
    transition: all .2s ease-in-out;
    opacity: 0.8; }

.button-arrow .fa-angle-right {
  font-size: 2em;
  margin-top: -5px;
  padding-top: 0;
  padding-left: 100px;
  vertical-align: middle; }

/**
 * breadcrumbs
 */
.breadcrumbs-type-1 {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 15px auto 0;
  padding: 0; }

.breadcrumb {
  font-size: 12px; }
  .breadcrumb a {
    color: #000; }
  .breadcrumb > li + li:before {
    padding: 0 2px;
    content: ">"; }

.footer-type-2 {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  line-height: 24px;
  overflow: hidden; }
  .footer-type-2__logo {
    height: auto;
    max-height: 300px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 20px;
    float: left; }
  .footer-type-2__contact {
    line-height: 30px; }
    .footer-type-2__contact > .fa {
      margin-right: 20px; }
  .footer-type-2__header {
    margin-left: 13px;
    font-size: 32px; }
  .footer-type-2 .fa-spotify, .footer-type-2 .fa-instagram, .footer-type-2 .fa-facebook, .footer-type-2 .fa-youtube {
    transition: all .2s ease-in-out; }
    .footer-type-2 .fa-spotify:hover, .footer-type-2 .fa-instagram:hover, .footer-type-2 .fa-facebook:hover, .footer-type-2 .fa-youtube:hover {
      text-decoration: none !important; }
    .footer-type-2 .fa-spotify:active, .footer-type-2 .fa-instagram:active, .footer-type-2 .fa-facebook:active, .footer-type-2 .fa-youtube:active {
      text-decoration: none !important; }
  .footer-type-2__opening-time {
    line-height: 30px; }
  .footer-type-2__icons {
    margin-left: 30px; }
    @media screen and (max-width: 990px) {
      .footer-type-2__icons {
        margin-left: 10px; } }
    .footer-type-2__icons > .footer-type-2__header {
      margin-left: 5px; }
    .footer-type-2__icons > a {
      margin-right: 20px;
      margin-left: 10px; }
      .footer-type-2__icons > a:hover {
        text-decoration: none;
        transition: all .2s ease-in-out; }

.navbar {
  display: block;
  height: 100px;
  width: 100%;
  background: white;
  position: fixed;
  z-index: 20;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0 auto;
  font-weight: bolder; }
  .navbar .fa-angle-right {
    position: absolute;
    right: 0;
    height: auto;
    width: 50px;
    text-align: right;
    padding-right: 20px;
    color: black;
    float: right;
    margin-top: -38px; }
    @media screen and (min-width: 1299px) {
      .navbar .fa-angle-right {
        display: none;
        margin-top: -7px; } }
  .navbar .fa-angle-down {
    font-size: 20px;
    margin-left: 10px;
    position: relative;
    float: right;
    display: none; }
    @media screen and (min-width: 1299px) {
      .navbar .fa-angle-down {
        display: block; } }
  .navbar > .container-fluid {
    margin-top: 40px; }
  .navbar-toggle {
    display: block; }
    @media screen and (min-width: 1299px) {
      .navbar-toggle {
        display: none; } }
  .navbar-header {
    float: none; }
    @media screen and (min-width: 1299px) {
      .navbar-header {
        float: left; } }
  .navbar > .container-fluid {
    width: 100%;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
  .navbar__brand {
    margin-top: 50px; }
  .navbar .logo {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center; }
    @media screen and (min-width: 1299px) {
      .navbar .logo {
        margin-top: 30px;
        margin-left: 10px; } }
  .navbar__button {
    position: absolute;
    color: black;
    height: 80px;
    float: left;
    margin-left: 5px;
    margin-top: -68px; }
    .navbar__button--phone {
      right: 0;
      margin-top: -58px;
      margin-right: 10px;
      float: right;
      display: block;
      font-size: 16px; }
      @media screen and (min-width: 1299px) {
        .navbar__button--phone {
          display: none; } }
  .navbar .nav {
    height: auto;
    background: white;
    color: black;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    float: left; }
    .navbar .nav #navbar-main.collapsed > ul {
      display: none;
      background: black;
      float: left; }
      @media screen and (min-width: 1299px) {
        .navbar .nav #navbar-main.collapsed > ul {
          display: block !important; } }
    .navbar .nav #navbar-main.open > ul {
      display: block !important; }
    .navbar .nav #navbar-main {
      display: none !important; }
    .navbar .nav > li.dropdown:hover ul.dropdown-menu {
      display: block; }
      @media screen and (min-width: 1299px) {
        .navbar .nav > li.dropdown:hover ul.dropdown-menu {
          visibility: visible;
          /* shows sub-menu */
          opacity: 1;
          z-index: 1;
          transform: translateY(0%);
          transition-delay: 0s, 0s, 0.3s; } }
    .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
      background-color: transparent; }
    @media screen and (min-width: 1299px) {
      .navbar .nav .dropdown {
        height: 79px; } }
    .navbar .nav ul.dropdown-menu {
      position: relative;
      width: 100%;
      border: none;
      padding: 0;
      margin: 0;
      background: white;
      box-shadow: none; }
      @media screen and (min-width: 1299px) {
        .navbar .nav ul.dropdown-menu {
          display: block;
          position: absolute;
          clear: both;
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
          z-index: 999;
          min-width: 250px;
          text-align: left;
          width: 100%;
          left: 0;
          right: 0;
          margin: 0 auto;
          margin-top: -20px;
          visibility: hidden;
          /* hides sub-menu */
          opacity: 0;
          top: 100%;
          transform: translateY(-2em);
          transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; } }
    .navbar .nav .dropdown-menu {
      border: none; }
    .navbar .nav ul.dropdown-menu > li {
      background: white;
      border-bottom: 1px solid white;
      height: 40px;
      color: black;
      padding-left: 50px;
      font-size: 14px; }
      @media screen and (min-width: 1299px) {
        .navbar .nav ul.dropdown-menu > li {
          padding-left: 20px; } }
      .navbar .nav ul.dropdown-menu > li:hover {
        background: none;
        transition: all .2s ease-in-out; }
      .navbar .nav ul.dropdown-menu > li > .fa-angle-down {
        color: black; }
      .navbar .nav ul.dropdown-menu > li:first-child {
        border-top: 1px solid white; }
      .navbar .nav ul.dropdown-menu > li:last-child {
        border-bottom: none; }
      @media screen and (min-width: 1299px) {
        .navbar .nav ul.dropdown-menu > li {
          height: 40px;
          width: auto;
          border-bottom: none; } }
    .navbar .nav ul.dropdown-menu > li a {
      font-size: 16px;
      border: none;
      text-transform: none;
      line-height: 34px; }
      @media screen and (min-width: 1299px) {
        .navbar .nav ul.dropdown-menu > li a {
          font-size: 14px;
          line-height: 1px;
          color: black; } }
    @media screen and (min-width: 1299px) {
      .navbar .nav > ul {
        background: white !important; } }
    .navbar .nav__list-item {
      list-style-type: none;
      width: 100%; }
    .navbar .nav__sub-item {
      list-style-type: none; }
    .navbar .nav__list {
      margin-top: 30px !important;
      margin-bottom: -20px; }
      .navbar .nav__list > li {
        float: left;
        width: 100%;
        text-transform: none;
        border-bottom: 1px solid white; }
      .navbar .nav__list > li a {
        font-size: 14px !important;
        width: auto;
        max-width: 250px;
        color: black; }
      @media screen and (min-width: 1299px) {
        .navbar .nav__list {
          font-size: 1.4em; } }
      @media screen and (min-width: 1299px) {
        .navbar .nav__list {
          margin: 0;
          padding: 0;
          list-style: none;
          display: block;
          width: auto;
          float: right;
          margin-top: 20px; }
          .navbar .nav__list > li {
            width: auto;
            float: left;
            display: inline;
            text-transform: none;
            text-align: center;
            color: white;
            border-bottom: 1px solid white; }
          .navbar .nav__list > li a {
            font-size: 0.60em;
            color: black;
            display: block;
            width: auto;
            max-width: 250px;
            padding: 20px; }
            .navbar .nav__list > li a:hover {
              cursor: pointer;
              transition: all .2s ease-in-out;
              background: none; } }
      .navbar .nav__list > li a li {
        width: auto;
        max-width: 250px;
        float: left;
        display: inline;
        text-transform: none;
        color: white;
        background: #484847;
        border-bottom: 1px solid white; }
      .navbar .nav__list > li a li a {
        max-width: 250px;
        text-transform: none; }

/* Fancy navigation stuff */
.nav-down {
  visibility: visible;
  opacity: 1 !important;
  position: fixed;
  width: 100%;
  transition: all .4s ease-in-out;
  margin-bottom: 100px; }

.nav-up {
  visibility: hidden;
  transition: all .4s ease-in-out;
  opacity: 0; }

.navbar-collapse {
  padding: 0; }

.icon-bar {
  margin-left: 7px; }
  .icon-bar:last-child {
    margin-bottom: 10px; }

.no-show {
  display: none; }

.show {
  display: block; }

.usp {
  position: absolute;
  color: white;
  display: block;
  height: 40px;
  width: 100%;
  top: 0;
  margin: 0 auto;
  font-size: 14px; }
  .usp__item {
    margin-right: 30px;
    display: none; }
    .usp__item:first-child {
      clear: both;
      display: block;
      text-align: center;
      margin: 0 auto; }
      @media screen and (min-width: 1299px) {
        .usp__item:first-child {
          display: inline;
          margin-left: 20px;
          margin-right: 20px; } }
    @media screen and (min-width: 1299px) {
      .usp__item {
        display: inline; } }
  .usp__icon {
    font-size: 14px;
    color: white;
    line-height: 40px;
    font-weight: 300; }
  .usp__phone {
    display: none;
    float: right;
    margin-right: 20px;
    font-size: 14px; }
    @media screen and (min-width: 1299px) {
      .usp__phone {
        display: inline; } }
    .usp__phone:hover {
      color: white;
      text-decoration: underline;
      transition: all .2s ease-in-out; }
    .usp__phone:active {
      color: white; }

.submenu-angle {
  font-size: 24px;
  left: 0;
  display: block;
  position: absolute;
  float: left;
  margin-left: 25px;
  margin-top: 3px !important;
  margin-right: 20px; }
  @media screen and (min-width: 1299px) {
    .submenu-angle {
      display: block !important;
      font-size: 18px;
      margin-left: -5px;
      margin-top: -7px !important; } }

.navbar-collapse.collapse {
  display: none !important; }
  @media screen and (min-width: 1299px) {
    .navbar-collapse.collapse {
      display: block; } }

@media screen and (min-width: 1299px) {
  #navbar-main {
    display: block !important; } }

.navigation__spacer {
  padding-top: 140px;
  width: 100%;
  background: transparent; }
  @media screen and (min-width: 1299px) {
    .navigation__spacer {
      padding-top: 170px; } }

.card {
  margin-bottom: 30px;
  background-color: #f7f7f7;
  color: #000;
  transition: all .2s; }
  .card h1, .card h2, .card h3 {
    margin-top: 0;
    font-size: 21px; }
  .card:active, .card:focus, .card:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  @media screen and (min-width: 768px) {
    .card {
      position: relative;
      padding-bottom: 25px; }
      .card .read-more {
        display: block;
        position: absolute;
        top: auto;
        right: auto;
        bottom: 15px;
        left: 15px; } }

.article-images {
  margin-bottom: 30px; }

.article-image {
  display: block;
  margin-bottom: 15px; }
  @media screen and (min-width: 768px) {
    .article-image {
      margin-bottom: 30px; } }

.image-scroller-block-type-1 .images-slider {
  width: 80vw;
  margin-left: 10vw;
  padding-top: 15vh;
  padding-bottom: 15vh; }
  @media screen and (min-width: 768px) {
    .image-scroller-block-type-1 .images-slider {
      margin-left: 5vw;
      width: 90vw; } }

@media screen and (min-width: 768px) {
  .image-scroller-block-type-1 .item:not(:first-child) {
    margin-left: 25px; } }

@media screen and (min-width: 768px) {
  .image-scroller-block-type-1 .item:not(:last-child) {
    margin-right: 25px; } }

@media screen and (min-width: 768px) {
  .image-scroller-block-type-1 .item:not(:last-child) {
    margin-left: 25px;
    margin-right: 25px; } }

.slick-prev::before {
  font-family: FontAwesome;
  content: "\f104";
  font-size: 50px;
  color: #000; }

.slick-next::before {
  font-family: FontAwesome;
  content: "\f105";
  font-size: 50px;
  color: #000; }

.two-colors-background-center-image-block-type-1 {
  line-height: 28px;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 0; }

.two-colors-background-center-image-block-type-1 .left-block, .right-block {
  position: relative;
  height: 100%;
  width: 50vw;
  z-index: -1; }

.two-colors-background-center-image-block-type-1 .img-container {
  position: absolute;
  display: block;
  margin-top: 5vh;
  margin-left: 5vw;
  min-width: 90vw;
  width: 90vw;
  max-width: 90vw;
  max-height: 30vh; }
  @media screen and (min-width: 768px) {
    .two-colors-background-center-image-block-type-1 .img-container {
      margin-left: 15vw;
      min-width: 70vw;
      width: 70vw;
      max-width: 70vw; } }
  @media screen and (min-width: 992px) {
    .two-colors-background-center-image-block-type-1 .img-container {
      margin-left: 20vw;
      min-width: 60vw;
      width: 60vw;
      max-width: 60vw; } }
  @media screen and (min-width: 1200px) {
    .two-colors-background-center-image-block-type-1 .img-container {
      margin-left: 25vw;
      min-width: 50vw;
      width: 50vw;
      max-width: 50vw; } }
  .two-colors-background-center-image-block-type-1 .img-container img {
    max-width: 100%;
    max-height: 100%; }

.two-colors-background-center-image-block-type-1 .title-block {
  width: 100vw;
  position: absolute;
  margin-top: 55vh;
  text-align: center; }

.two-colors-background-center-image-block-type-1 h1 {
  padding-left: 5vw;
  padding-right: 5vw;
  color: white;
  text-shadow: 0 0 10px #000; }

.two-colors-background-center-image-block-type-1 .right-button, .left-button {
  position: absolute;
  display: inline;
  bottom: 0;
  padding: 8px 15px 5px 10px;
  width: auto;
  margin-bottom: 10vh;
  z-index: 2;
  border-radius: 4px; }
  @media screen and (min-width: 768px) {
    .two-colors-background-center-image-block-type-1 .right-button, .left-button {
      margin-bottom: 15vh;
      padding: 8px 15px 5px 20px; } }
  @media screen and (min-width: 992px) {
    .two-colors-background-center-image-block-type-1 .right-button, .left-button {
      margin-bottom: 20vh;
      padding: 8px 15px 5px 25px; } }
  @media screen and (min-width: 1200px) {
    .two-colors-background-center-image-block-type-1 .right-button, .left-button {
      margin-bottom: 25vh;
      padding: 8px 15px 5px 30px; } }

.two-colors-background-center-image-block-type-1 .left-button {
  right: calc(50vw + 15px); }
  @media screen and (min-width: 768px) {
    .two-colors-background-center-image-block-type-1 .left-button {
      right: calc(50vw + 15px); } }
  @media screen and (min-width: 992px) {
    .two-colors-background-center-image-block-type-1 .left-button {
      right: calc(50vw + 25px); } }
  @media screen and (min-width: 1200px) {
    .two-colors-background-center-image-block-type-1 .left-button {
      right: calc(50vw + 50px); } }

.two-colors-background-center-image-block-type-1 .right-button {
  left: calc(50vw + 15px); }
  @media screen and (min-width: 768px) {
    .two-colors-background-center-image-block-type-1 .right-button {
      left: calc(50vw + 15px); } }
  @media screen and (min-width: 992px) {
    .two-colors-background-center-image-block-type-1 .right-button {
      left: calc(50vw + 25px); } }
  @media screen and (min-width: 1200px) {
    .two-colors-background-center-image-block-type-1 .right-button {
      left: calc(50vw + 50px); } }

.two-colors-background-center-image-block-type-1 .fa {
  margin-top: -5px;
  padding-left: 5px;
  font-size: 2em;
  vertical-align: middle; }
  @media screen and (min-width: 768px) {
    .two-colors-background-center-image-block-type-1 .fa {
      padding-left: 25px; } }
  @media screen and (min-width: 992px) {
    .two-colors-background-center-image-block-type-1 .fa {
      padding-left: 30px; } }
  @media screen and (min-width: 1200px) {
    .two-colors-background-center-image-block-type-1 .fa {
      padding-left: 30px; } }

.two-colors-background-center-image-block-type-1 .scroll-down-button {
  position: absolute;
  margin-left: calc(50vw - 20px);
  bottom: 20vh;
  width: 40px;
  height: 40px;
  background-color: transparent;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  display: none;
  text-align: center;
  cursor: pointer;
  color: white; }
  @media screen and (max-width: 992px) {
    .two-colors-background-center-image-block-type-1 .scroll-down-button {
      visibility: hidden; } }

.two-colors-background-center-image-block-type-1 .scroll-down-button .fa {
  margin: 0;
  padding: 0;
  font-size: 3em;
  vertical-align: middle; }

.sixteen-at-nine-image-text-block-type-1 {
  height: auto;
  line-height: 28px;
  display: block;
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 0; }
  @media screen and (min-width: 992px) {
    .sixteen-at-nine-image-text-block-type-1 {
      height: calc((100vw / 16) * 9); } }

.sixteen-at-nine-image-text-block-type-1 .image {
  width: 100vw;
  height: calc((100vw / 16) * 9); }

.sixteen-at-nine-image-text-block-type-1 .block-container {
  width: 100vw;
  position: relative;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: transparent;
  margin-top: 0;
  height: auto; }
  @media screen and (min-width: 992px) {
    .sixteen-at-nine-image-text-block-type-1 .block-container {
      position: absolute;
      width: 50vw;
      margin-top: calc(0vw - ((100vw / 16) * 9));
      height: calc((100vw / 16) * 9); } }

.sixteen-at-nine-image-text-block-type-1 .content-container {
  width: 100%; }
  @media screen and (min-width: 992px) {
    .sixteen-at-nine-image-text-block-type-1 .content-container {
      width: 80%; } }

.sixteen-at-nine-image-text-block-type-1 .content {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.sixteen-at-nine-image-text-block-type-1 .content-text {
  margin: 3vw; }

.eight-at-nine-image-text-block-type-1 {
  height: auto;
  line-height: 28px;
  display: block;
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 0; }
  @media screen and (min-width: 992px) {
    .eight-at-nine-image-text-block-type-1 {
      height: calc((100vw / 16) * 9); } }

.eight-at-nine-image-text-block-type-1 .image {
  margin-left: 50vw;
  width: 50vw;
  height: calc((100vw / 16) * 9);
  position: absolute; }
  @media screen and (max-width: 992px) {
    .eight-at-nine-image-text-block-type-1 .image {
      margin-left: 0;
      position: relative;
      display: block;
      width: 100vw;
      height: calc((100vw / 8) * 9); } }

@media screen and (min-width: 992px) {
  .eight-at-nine-image-text-block-type-1 .image.media-left {
    margin-left: 0; } }
.eight-at-nine-image-text-block-type-1 .block-container {
  margin-left: 0;
  width: 50vw;
  height: calc((100vw / 16) * 9);
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  position: absolute; }
  @media screen and (max-width: 992px) {
    .eight-at-nine-image-text-block-type-1 .block-container {
      display: block;
      height: auto;
      position: relative;
      width: 100vw; } }

@media screen and (min-width: 992px) {
  .eight-at-nine-image-text-block-type-1 .block-container.media-left {
    margin-left: 50vw; } }
.eight-at-nine-image-text-block-type-1 .content-container {
  width: 100%; }
  @media screen and (min-width: 992px) {
    .eight-at-nine-image-text-block-type-1 .content-container {
      width: 80%; } }

.eight-at-nine-image-text-block-type-1 .content {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: left;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.eight-at-nine-image-text-block-type-1 .content-text {
  margin: 3vw; }

.eight-at-nine-image-text-button-block-type-1 {
  height: auto;
  line-height: 28px;
  display: block;
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 0; }
  @media screen and (min-width: 992px) {
    .eight-at-nine-image-text-button-block-type-1 {
      height: calc((100vw / 16) * 9); } }

.eight-at-nine-image-text-button-block-type-1 .image {
  margin-left: 50vw;
  width: 50vw;
  height: calc((100vw / 16) * 9);
  position: absolute; }
  @media screen and (max-width: 992px) {
    .eight-at-nine-image-text-button-block-type-1 .image {
      margin-left: 0;
      position: relative;
      width: 100vw;
      height: calc((100vw / 8) * 9); } }

@media screen and (min-width: 992px) {
  .eight-at-nine-image-text-button-block-type-1 .image.media-left {
    margin-left: 0; } }
.eight-at-nine-image-text-button-block-type-1 .block-container {
  margin-left: 0;
  width: 50vw;
  height: calc((100vw / 16) * 9);
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  position: absolute; }
  @media screen and (max-width: 992px) {
    .eight-at-nine-image-text-button-block-type-1 .block-container {
      height: auto;
      position: relative;
      width: 100vw; } }

@media screen and (min-width: 992px) {
  .eight-at-nine-image-text-button-block-type-1 .block-container.media-left {
    margin-left: 50vw; } }
.eight-at-nine-image-text-button-block-type-1 .content-container {
  width: 100%; }
  @media screen and (min-width: 992px) {
    .eight-at-nine-image-text-button-block-type-1 .content-container {
      width: 80%; } }

.eight-at-nine-image-text-button-block-type-1 .content {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: left;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.eight-at-nine-image-text-button-block-type-1 .content-text {
  margin: 3vw; }

.eight-at-nine-image-text-button-block-type-1 .button-link {
  margin-top: 25px; }

.eight-at-nine-image-text-button-block-type-1 .link-text {
  margin-top: 25px; }

.eight-at-nine-image-text-button-block-type-1 .link-text a {
  text-decoration: underline; }

.eight-at-nine-image-text-button-block-type-1 .link-text a:hover {
  transition: all .2s ease-in-out;
  opacity: 0.8; }

.text-image-or-video-block-type-1 .title-content-left {
  padding-left: 5vw;
  padding-right: 2vw; }
  @media screen and (min-width: 768px) {
    .text-image-or-video-block-type-1 .title-content-left {
      padding-right: 5vw; } }
  @media screen and (min-width: 992px) {
    .text-image-or-video-block-type-1 .title-content-left {
      padding-right: 7.5vw; } }

.text-image-or-video-block-type-1 .title-content-right {
  padding-left: 5vw;
  padding-right: 2vw; }
  @media screen and (min-width: 768px) {
    .text-image-or-video-block-type-1 .title-content-right {
      padding-right: 5vw; } }
  @media screen and (min-width: 992px) {
    .text-image-or-video-block-type-1 .title-content-right {
      padding-right: 7.5vw; } }

.text-image-or-video-block-type-1 .image-or-video-content-left, .image-or-video-content-right {
  margin-top: 30px;
  margin-bottom: 30px; }

.text-image-or-video-block-type-1 .image-or-video-content-left {
  padding-left: 5vw;
  padding-right: 5vw; }
  @media screen and (min-width: 992px) {
    .text-image-or-video-block-type-1 .image-or-video-content-left {
      padding-right: 0; } }

.text-image-or-video-block-type-1 .image-or-video-content-right {
  padding-left: 5vw;
  padding-right: 5vw; }
  @media screen and (min-width: 768px) {
    .text-image-or-video-block-type-1 .image-or-video-content-right {
      padding-left: 0; } }
  @media screen and (min-width: 992px) {
    .text-image-or-video-block-type-1 .image-or-video-content-right {
      padding-right: 7.5vw; } }

.youtube-video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.header-quote-block-type-1 .header-quote-content {
  position: absolute;
  bottom: 20%;
  width: 100%; }

.header-quote-block-type-1 .shadow {
  color: white;
  text-shadow: 0 0 10px #000; }

.contact-form-block-type-1 input:not([type='checkbox']), label, textarea {
  width: 100%; }

.contact-form-block-type-1 label {
  margin-top: 15px; }

.contact-form-block-type-1 input:not([type='checkbox']), textarea {
  border: 1px solid #DDD;
  border-radius: 4px;
  box-shadow: 0 0 3px #DDD inset;
  outline: none;
  padding-left: 10px; }

.contact-form-block-type-1 .checkboxes {
  width: 100%;
  clear: both; }

.contact-form-block-type-1 .appointment-details-block {
  width: 100%;
  clear: both; }

.contact-form-block-type-1 .checkboxes label {
  display: block;
  float: left;
  white-space: nowrap;
  width: auto; }

.contact-form-block-type-1 .checkboxes span {
  padding-left: 5px; }

.contact-form-block-type-1 .appointment-details-block label:not(:first-child) {
  margin-left: 25px; }

.contact-form-block-type-1 .appointment-details-block label {
  margin-top: 0; }

.contact-form-block-type-1 .appointment-details-block .gray {
  margin-top: 10px;
  color: grey; }

.eight-at-nine-maps-contact-block-type-1 {
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px; }
  @media screen and (min-width: 992px) {
    .eight-at-nine-maps-contact-block-type-1 {
      height: auto; } }
  .eight-at-nine-maps-contact-block-type-1__link {
    color: black !important; }
  .eight-at-nine-maps-contact-block-type-1 > a {
    color: black !important;
    margin-left: 3px;
    line-height: 30px;
    font-size: 16px !important; }
  .eight-at-nine-maps-contact-block-type-1__header {
    font-size: 24px; }
  .eight-at-nine-maps-contact-block-type-1 div:nth-child(2) {
    display: none; }
    @media screen and (min-width: 992px) {
      .eight-at-nine-maps-contact-block-type-1 div:nth-child(2) {
        display: block; } }
  .eight-at-nine-maps-contact-block-type-1__opening-time {
    font-size: 16px !important;
    margin-left: -20px !important;
    line-height: 30px; }

.google_maps {
  width: 100%;
  height: 415px;
  display: block; }
  @media screen and (min-width: 992px) {
    .google_maps {
      height: 500px; } }

.instagram-post {
  position: relative; }
  @media screen and (min-width: 768px) {
    .instagram-post {
      height: 50vw; } }
  @media screen and (min-width: 992px) {
    .instagram-post {
      height: 45vw; } }
  @media screen and (min-width: 1200px) {
    .instagram-post {
      height: 40vw; } }
  .instagram-post:hover {
    text-decoration: none;
    transition: all .2s ease-in-out; }
  .instagram-post:hover img {
    filter: brightness(50%);
    transition: all .2s ease-in-out; }
  .instagram-post-like-count {
    display: none; }
  .instagram-post:hover .instagram-post-like-count {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 3em;
    height: 4em;
    line-height: 4em;
    font-size: 6em;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    transform: translateY(-0.25em);
    transition: all .2s ease-in-out; }
  .instagram-post .instagram-image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%; }
  .instagram-post .instagram-image-container img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .instagram-post .card .instagram-image-container {
    padding-bottom: 75.18796992%; }

/* pages */

/*# sourceMappingURL=main.css.map */
