//Specific theme colors
$salmon-orange:         #F2927C;
$blue:                  #20CBD4;
$white:                 rgb(255,255,255);
$darkgrey:              rgb(72,72,71);

//Descriptive theme colors
$primary-color:         $salmon-orange;

// Theme specific heights and widths
$height-header:         100px;
$navbar-break:          1299px;

// Fonts
.Mic32NewRounded-Light {
  font-family: Mic32NewRounded-Light;
  font-weight: normal;
  font-style: normal;
}
.Mic32NewRounded-Bold {
  font-family: Mic32NewRounded-Bold;
  font-weight: normal;
  font-style: normal;
}