/**
 * @license
 * MyFonts Webfont Build ID 3522040, 2018-02-06T10:09:50-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Mic32NewRounded-Light by moretype
 * URL: https://www.myfonts.com/fonts/moretype/mic-32-new-rounded/light/
 *
 * Webfont: Mic32NewRounded-Bold by moretype
 * URL: https://www.myfonts.com/fonts/moretype/mic-32-new-rounded/bold/
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3522040
 * Licensed pageviews: 10,000
 * webfonts copyright: Copyright (c) 2011 by Moretype. All rights reserved.
 *
 * © 2018 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */

@font-face {font-family: 'Mic32NewRounded-Light';src: url('../../../theme//butiq/webfonts/35BDF8_0_0.eot');src: url('../../../theme//butiq/webfonts/35BDF8_0_0.eot?#iefix') format('embedded-opentype'),url('../../../theme//butiq/webfonts/35BDF8_0_0.woff2') format('woff2'),url('../../../theme//butiq/webfonts/35BDF8_0_0.woff') format('woff'),url('../../../theme//butiq/webfonts/35BDF8_0_0.ttf') format('truetype');}


@font-face {font-family: 'Mic32NewRounded-Bold';src: url('../../../theme//butiq/webfonts/35BDF8_1_0.eot');src: url('../../../theme//butiq/webfonts/35BDF8_1_0.eot?#iefix') format('embedded-opentype'),url('../../../theme//butiq/webfonts/35BDF8_1_0.woff2') format('woff2'),url('../../../theme//butiq/webfonts/35BDF8_1_0.woff') format('woff'),url('../../../theme//butiq/webfonts/35BDF8_1_0.ttf') format('truetype');}
