.article-images {
    margin-bottom: $grid-gutter-width;
}

.article-image {
    display: block;
    margin-bottom: ($grid-gutter-width / 2);

    @media screen and (min-width: $screen-sm) {
        margin-bottom: $grid-gutter-width;
    }
}
