/**
 * breadcrumbs
 */

.breadcrumbs-type-1 {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 15px auto 0;
    padding: 0;
}
.breadcrumb {
    font-size: 12px;

    a {
        color: #000;
    }

    &> li+li:before {
        padding: 0 2px;
        content: ">";
    }
}
