.button-link {
  padding: 10px 15px 7px 15px;

  border-radius: 4px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  height: 100%;

  &:hover {
    transition: all .2s ease-in-out;
    opacity: 0.8;
  }
}

.button-link .fa-angle-right {
  font-size: 2em;
  margin-top: -5px;
  padding-top: 0;
  padding-left: 100px;
  vertical-align: middle;
}

.button__transparent--fill {
  width: 200px;
  padding: 5px;
  border: 1px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: transparent;
  margin-top: 10px;

  &:hover {
    background: white;
    transition: all .2s ease-in-out;

    & > a {
      color: #32A9D8!important;
      text-decoration: none;
    }
  }
}

.button-arrow {
  padding: 10px 15px 7px 15px;

  border-radius: 4px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  height: 100%;

  &:hover {
    transition: all .2s ease-in-out;
    opacity: 0.8;
  }
}

.button-arrow  .fa-angle-right {
  font-size: 2em;
  margin-top: -5px;
  padding-top: 0;
  padding-left: 100px;
  vertical-align: middle;
}