.card {
    margin-bottom: $grid-gutter-width;
    background-color: rgb(247, 247, 247);
    color: #000;

    transition: all .2s;

    h1, h2, h3 {
        margin-top: 0;
        font-size: 21px;
    }

    &:active,
    &:focus,
    &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    }

    @media screen and (min-width: $screen-sm) {
        position: relative;
        padding-bottom: $line-height-computed;

        .read-more {
            display: block;
            position: absolute;
            top: auto;
            right: auto;
            bottom: ($grid-gutter-width / 2);
            left: ($grid-gutter-width / 2);
        }
    }
}
