body {
  font-family: Mic32NewRounded-Light;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.5px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: Mic32NewRounded-Bold;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.2px;
}

.chevron-link a:before {
  content: '';
  background: url('/img/chevron_right.png');
  background-size: cover;
  position: absolute;
  width: 10px;
  height: 16px;
  margin-top: 7px;
  margin-left: -20px;
}

.chevron-link a {
  margin-left: 20px;
  text-decoration: underline;
}

a.no-style,
.no-style {
  color: inherit;
  background-color: transparent;
}

.inhert-link a {
  color: inherit;
  background-color: transparent;
}

.no-style:active,
.no-style:focus,
.no-style:hover {
  text-decoration: none;
}

.block-type-1 {
  line-height: 28px;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 10px;
}

.has-error {
  border: 1px solid #e24a25 !important;
}