.contact-form-block-type-1 {
  @extend .block-type-1;
}

.contact-form-block-type-1 input:not([type='checkbox']), label, textarea {
  width: 100%;
}

.contact-form-block-type-1 label {
  margin-top: 15px;
}

.contact-form-block-type-1 input:not([type='checkbox']), textarea {
  border: 1px solid #DDD;
  border-radius: 4px;
  box-shadow: 0 0 3px #DDD inset;
  outline: none;
  padding-left: 10px;
}

.contact-form-block-type-1 .checkboxes {
  width: 100%;
  clear: both;
}

.contact-form-block-type-1 .appointment-details-block {
  width: 100%;
  clear: both;
}

.contact-form-block-type-1 .checkboxes label {
  display: block;
  float: left;
  white-space: nowrap;
  width: auto;
}

.contact-form-block-type-1 .checkboxes span {
  padding-left: 5px;
}

.contact-form-block-type-1 .appointment-details-block label:not(:first-child) {
  margin-left: 25px;
}

.contact-form-block-type-1 .appointment-details-block label {
  margin-top: 0;
}

.contact-form-block-type-1 .appointment-details-block .gray {
  margin-top: 10px;
  color: grey;
}