.eight-at-nine-image-text-button-block-type-1 {
  height: auto;
  line-height: 28px;
  display: block;
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 0;

  @media screen and (min-width: $screen-md) {
    height: calc((100vw / 16) * 9);
  }
}

.eight-at-nine-image-text-button-block-type-1 .image {
  margin-left: 50vw;
  width: 50vw;
  height: calc((100vw / 16) * 9);
  position: absolute;

  @media screen and (max-width: $screen-md) {
    margin-left: 0;
    position: relative;
    width: 100vw;
    height: calc((100vw / 8) * 9);
  }
}

@media screen and (min-width: $screen-md) {
  .eight-at-nine-image-text-button-block-type-1 .image.media-left {
    margin-left: 0;
  }
}

.eight-at-nine-image-text-button-block-type-1 .block-container {
  margin-left: 0;
  width: 50vw;
  height: calc((100vw / 16) * 9);
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  position: absolute;

  @media screen and (max-width: $screen-md) {
    height: auto;
    position: relative;
    width: 100vw;
  }
}

@media screen and (min-width: $screen-md) {
  .eight-at-nine-image-text-button-block-type-1 .block-container.media-left {
    margin-left: 50vw;
  }
}

.eight-at-nine-image-text-button-block-type-1 .content-container {
  width: 100%;
  @media screen and (min-width: $screen-md) {
    width: 80%;
  }
}

.eight-at-nine-image-text-button-block-type-1 .content {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.eight-at-nine-image-text-button-block-type-1 .content-text {
  margin: 3vw;
}

.eight-at-nine-image-text-button-block-type-1 .button-link {
  margin-top: 25px;
}

.eight-at-nine-image-text-button-block-type-1 .link-text {
  margin-top: 25px;
}

.eight-at-nine-image-text-button-block-type-1 .link-text a {
  text-decoration: underline;
}

.eight-at-nine-image-text-button-block-type-1 .link-text a:hover {
  transition: all .2s ease-in-out;
  opacity: 0.8;
}