.eight-at-nine-maps-contact-block-type-1 {
  @extend .block-type-1;
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px;

  @media screen and (min-width: $screen-md) {
    height: auto;
  }

  &__link {
    color: black!important;
  }

  & > a {
    color: black!important;
    margin-left: 3px;
    line-height: 30px;
    font-size: 16px!important;
  }

  &__header {
    font-size: 24px;
  }

  div:nth-child(2) {
    display: none;
    @media screen and (min-width: $screen-md) {
      display: block;
    }
    }

  &__opening-time {
    font-size: 16px!important;
    margin-left: -20px!important;
    line-height: 30px;
  }
}
.google_maps {
  width: 100%;
  height: 415px;
  display: block;
  @media screen and (min-width: $screen-md) {
    height: 500px;
  }
  }