.footer-type-2 {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  line-height: 24px;
  overflow: hidden;

  &__logo {
    height: auto;
    max-height: 300px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 20px;
    float: left;
  }

  &__contact {
    line-height: 30px;

    > .fa {
      margin-right: 20px;
    }
  }

  &__header {
    margin-left: 13px;
    font-size: $font-size-h2;
  }

  //.fa-youtube {
  //  &:hover {
  //    color: #cc181e;
  //  }
  //}
  //
  //.fa-facebook {
  //  &:hover {
  //    color: #3B5998;
  //  }
  //}
  //
  //.fa-instagram {
  //  &:hover {
  //    color: #cd486b;
  //  }
  //}
  //
  //.fa-spotify {
  //  &:hover {
  //    color: #6AE368;
  //  }
  //}

  .fa-spotify, .fa-instagram, .fa-facebook, .fa-youtube {
    transition: all .2s ease-in-out;
      &:hover {
        text-decoration: none!important;
      }
    &:active {
      text-decoration: none!important;
    }
  }

  &__opening-time {
    line-height: 30px;
  }

  &__icons {
    margin-left:  30px;
    @media screen and (max-width: 990px) {
      margin-left: 10px;
    }

    & > .footer-type-2__header {
      margin-left: 5px;
    }

    & > a {
      margin-right: 20px;
      margin-left: 10px;

      &:hover {
        text-decoration: none;
        transition: all .2s ease-in-out;
      }
    }
  }

}