.header-quote-block-type-1 {
  @extend .block-type-1;
}

.header-quote-block-type-1 .header-quote-content {
  position: absolute;
  bottom: 20%;
  width: 100%;
}

.header-quote-block-type-1 .shadow {
  color: white;
  text-shadow: 0 0 10px #000;
}