.image-scroller-block-type-1 {
  @extend .block-type-1;
}

.image-scroller-block-type-1 .images-slider {
  width: 80vw;
  margin-left: 10vw;
  padding-top: 15vh;
  padding-bottom: 15vh;

  @media screen and (min-width: $screen-sm) {
    margin-left: 5vw;
    width: 90vw;
  }
}

.image-scroller-block-type-1 .item {

}

.image-scroller-block-type-1 .item:not(:first-child) {
  @media screen and (min-width: $screen-sm) {
    margin-left: 25px;
  }
}

.image-scroller-block-type-1 .item:not(:last-child) {
  @media screen and (min-width: $screen-sm) {
    margin-right: 25px;
  }
}

.image-scroller-block-type-1 .item:not(:last-child) {
  @media screen and (min-width: $screen-sm) {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.slick-prev::before {
  font-family: FontAwesome;
  content: "\f104";
  font-size: 50px;
  color: #000;
}

.slick-next::before {
  font-family: FontAwesome;
  content: "\f105";
  font-size: 50px;
  color: #000;
}