.instagram-post {
  position: relative;

  @media screen and (min-width: $screen-sm) {
    height: 50vw;
  }
  @media screen and (min-width: $screen-md) {
    height: 45vw;
  }
  @media screen and (min-width: $screen-lg) {
    height: 40vw;
  }

  &:hover {
    text-decoration: none;
    transition: all .2s ease-in-out;
  }

  &:hover img {
    filter: brightness(50%);
    transition: all .2s ease-in-out;
  }

  &-like-count {
    display: none;
  }

  &:hover &-like-count {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 3em;
    height: 4em;
    line-height: 4em;
    font-size: 6em;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    transform: translateY(-.25em);
    transition: all .2s ease-in-out;
  }

  .instagram-image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
  }
  .instagram-image-container img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .card .instagram-image-container {
    padding-bottom: 75.18796992%;
  }
}