.navbar {
  display: block;
  height: $height-header;
  width: 100%;
  background: white;
  position: fixed;
  z-index: 20;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0 auto;
  font-weight:bolder;

  & .fa-angle-right {
    position: absolute;
    right: 0;
    height: auto;
    width: 50px;
    text-align: right;
    padding-right: 20px;
    color: black;
    float: right;

    margin-top: -38px;

    @media screen and (min-width: $navbar-break) {
      display: none;
      margin-top: -7px;
    }
  }

  & .fa-angle-down {
    font-size: 20px;
    margin-left: 10px;
    position: relative;
    float: right;
    display: none;

    @media screen and (min-width: $navbar-break) {
      display: block;
    }
  }

  & > .container-fluid {
    margin-top: 40px;
  }

  &-toggle {
    display: block;

    @media screen and (min-width: $navbar-break) {
      display: none;
    }
  }

  &-header {
    float: none;
    @media screen and (min-width: $navbar-break) {
      float: left;
    }
  }

  > .container-fluid {
    width: 100%;
    background: $white;
    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }

  &__brand {
    margin-top: 50px;
  }

  .logo {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

    @media screen and (min-width: $navbar-break) {
      margin-top: 30px;
      margin-left: 10px;
    }
  }

  &__button {
    position: absolute;
    color: black;
    height: $height-header * 0.8;
    float: left;
    margin-left: 5px;
    margin-top: $height-header *(-0.68);

    &--phone {
      right:0;
      margin-top: $height-header *(-0.58);
      margin-right:10px;
      float: right;
      display: block;
      font-size: 16px;

      @media screen and (min-width: $navbar-break) {
        display: none;
      }
    }
  }

  .nav {
    height: auto;
    background: white;
    color: black;
    width:100%;
    margin: 0 auto;
    padding: 20px;
    float: left;

    #navbar-main.collapsed > ul{
      display: none;
      background: black;
      float: left;
      @media screen and (min-width: $navbar-break) {
        display: block!important;
      }
    }

    #navbar-main.open > ul {
      display: block!important;
    }

    #navbar-main {
      display: none!important;
    }

    & > li.dropdown:hover ul.dropdown-menu {
      display: block;
      @media screen and (min-width: $navbar-break) {
        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;
      }
    }

    & >li>a:hover, & >li>a:focus {
      background-color: transparent;
    }

    @media screen and (min-width: $navbar-break) {
      .dropdown {
        height: 79px;
      }
    }

    // Submenu
    ul.dropdown-menu {
      position: relative;
      width: 100%;
      border:none;
      padding:0;
      margin:0;
      background: $white;
      box-shadow: none;

      @media screen and (min-width: $navbar-break) {
        display: block;
        position: absolute;
        clear: both;
        box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.2);
        z-index: 999;
        min-width: 250px;
        text-align: left;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: -20px;
        visibility: hidden; /* hides sub-menu */
        opacity: 0;
        top: 100%;
        transform: translateY(-2em);
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
      }
    }

    .dropdown-menu {
      border:none;
    }

    ul.dropdown-menu > li {
      background: $white;
      border-bottom: 1px solid $white;
      height: 40px;
      color: black;
      padding-left: 50px;
      font-size: 14px;

      @media screen and (min-width: $navbar-break) {
        padding-left: 20px;
      }

      &:hover {
        background: none;

        transition: all .2s ease-in-out;
      }

      > .fa-angle-down {
        color: black;
      }

      &:first-child {
        border-top: 1px solid $white;
      }

      &:last-child {
        border-bottom: none;
      }

      @media screen and (min-width: $navbar-break) {
        height: 40px;
        width: auto;
        border-bottom:none;
      }

    }


    // Drop-down items
    ul.dropdown-menu > li a{
      font-size: 16px;
      border:none;
      text-transform: none;

      line-height: 34px;

      @media screen and (min-width: $navbar-break) {
        font-size: 14px;
        line-height: 1px;
        color: black;
      }
    }

    > ul {
      @media screen and (min-width: $navbar-break){
        background: $white!important;
      }
    }

    &__list-item {
      list-style-type: none;
      width: 100%;
    }

    &__sub-item {
      list-style-type: none;
    }

    &__list {
      margin-top: 30px!important;
      margin-bottom: -20px;

      > li {
        float: left;
        width: 100%;
        text-transform: none;
        border-bottom: 1px solid $white;
      }

      > li a {
        font-size: 14px!important;
        width: auto;
        max-width: 250px;
        color: black;
      }

      @media screen and (min-width: $navbar-break) {
        font-size: 1.4em;
      }

      @media screen and (min-width: $navbar-break) {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        width: auto;
        float: right;
        margin-top: 20px;

        > li {
          width: auto;
          float: left;
          display: inline;
          text-transform: none;
          text-align: center;
          color: $white;
          border-bottom: 1px solid $white;
        }

        > li a {
          font-size: 0.60em;
          color: black;
          display: block;
          width: auto;
          max-width: 250px;
          padding: 20px;

          &:hover {
            cursor: pointer;
            transition: all .2s ease-in-out;
            background: none;
          }
        }
      }

      > li a li {
        width: auto;
        max-width: 250px;
        float: left;
        display: inline;
        text-transform: none;
        color: $white;
        background: $darkgrey;
        border-bottom: 1px solid $white;
      }

      > li a li a {
        max-width: 250px;
        text-transform: none;
      }
    }
  }

}

/* Fancy navigation stuff */

.nav-down {
  visibility: visible;
  opacity: 1!important;
  position: fixed;
  width: 100%;
  transition: all .4s ease-in-out;
  margin-bottom: $height-header;
}

.nav-up {
  visibility: hidden;
  transition: all .4s ease-in-out;
  opacity:0;
}

.navbar-collapse {
  padding: 0;
}

.icon-bar {
  margin-left: 7px;
  &:last-child {
    margin-bottom: 10px;
  }
}

.no-show {
  display: none;
}

.show {
  display: block;
}

// Unique selling points styling

.usp {
  position: absolute;
  color: $white;
  display: block;
  height: 40px;
  width: 100%;
  top: 0;
  margin: 0 auto;
  font-size: 14px;

  &__item {
    margin-right: 30px;
    display: none;

    &:first-child {
      clear: both;
      display: block;
      text-align: center;
      margin: 0 auto;

      @media screen and(min-width: $navbar-break) {
        display: inline;
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    @media screen and(min-width: $navbar-break) {
      display: inline;
    }
  }

  &__icon {
    font-size: 14px;
    color: $white;
    line-height: 40px;
    font-weight: 300;
  }

  &__phone {
    display: none;
    float: right;
    margin-right: 20px;
    font-size: 14px;

    @media screen and(min-width: $navbar-break) {
      display: inline;
    }

    &:hover {
      color: $white;
      text-decoration: underline;
      transition: all .2s ease-in-out;
    }

    &:active {
      color: $white;
    }
  }
}

// Submenu angle icon

.submenu-angle {
  font-size: 24px;
  left: 0;
  display: block;
  position: absolute;
  float: left;
  margin-left: 25px;
  margin-top: 3px!important;
  margin-right: 20px;

  @media screen and (min-width: $navbar-break) {
    display: block!important;
    font-size: 18px;
    margin-left: -5px;
    margin-top: -7px!important;

  }
}

// Manually style navigation

.navbar-collapse.collapse {
  display: none!important;

  @media screen and (min-width: $navbar-break) {
    display: block;
  }
}

#navbar-main {
  @media screen and (min-width: $navbar-break) {
    display: block!important;
  }
}

.navigation__spacer {
  padding-top: 140px;
  width: 100%;
  background: transparent;

  @media screen and (min-width: $navbar-break) {
    padding-top: 170px;
  }
}
