.sixteen-at-nine-image-text-block-type-1 {
  height: auto;
  line-height: 28px;
  display: block;
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 0;

  @media screen and (min-width: $screen-md) {
    height: calc((100vw / 16) * 9);
  }
}

.sixteen-at-nine-image-text-block-type-1 .image {
  width: 100vw;
  height: calc((100vw / 16) * 9);
}

.sixteen-at-nine-image-text-block-type-1 .block-container {
  width: 100vw;
  position: relative;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: transparent;
  margin-top: 0;
  height: auto;

  @media screen and (min-width: $screen-md) {
    position: absolute;
    width: 50vw;
    margin-top: calc(0vw - ((100vw / 16) * 9));
    height: calc((100vw / 16) * 9);
  }
}

.sixteen-at-nine-image-text-block-type-1 .content-container {
  width: 100%;
  @media screen and (min-width: $screen-md) {
    width: 80%;
  }
}

.sixteen-at-nine-image-text-block-type-1 .content {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sixteen-at-nine-image-text-block-type-1 .content-text {
  margin: 3vw;
}