.text-image-or-video-block-type-1 {
  @extend .block-type-1;
}

.text-image-or-video-block-type-1 .title-content-left {
  padding-left: 5vw;
  padding-right: 2vw;

  @media screen and (min-width: $screen-sm) {
    padding-right: 5vw;
  }
  @media screen and (min-width: $screen-md) {
    padding-right: 7.5vw;
  }
}

.text-image-or-video-block-type-1 .title-content-right {
  padding-left: 5vw;
  padding-right: 2vw;

  @media screen and (min-width: $screen-sm) {
    padding-right: 5vw;
  }
  @media screen and (min-width: $screen-md) {
    padding-right: 7.5vw;
  }
}

.text-image-or-video-block-type-1 .image-or-video-content-left, .image-or-video-content-right {
  margin-top: 30px;
  margin-bottom: 30px;
}

.text-image-or-video-block-type-1 .image-or-video-content-left {
  padding-left: 5vw;
  padding-right: 5vw;

  @media screen and (min-width: $screen-md) {
    padding-right: 0;
  }
}

.text-image-or-video-block-type-1 .image-or-video-content-right {
  padding-left: 5vw;
  padding-right: 5vw;

  @media screen and (min-width: $screen-sm) {
    padding-left: 0;
  }
  @media screen and (min-width: $screen-md) {
    padding-right: 7.5vw;
  }
}

.youtube-video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}