.two-colors-background-center-image-block-type-1 {
  line-height: 28px;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 0;
}

.two-colors-background-center-image-block-type-1 .left-block, .right-block {
  position: relative;
  height: 100%;
  width: 50vw;
  z-index: -1;
}

.two-colors-background-center-image-block-type-1 .img-container {
  position: absolute;
  display: block;
  margin-top: 7vh;
  margin-left: 5vw;
  min-width: 90vw;
  width: 90vw;
  max-width: 90vw;
  max-height: 30vh;

  @media screen and (min-width: $screen-sm) {
    margin-left: 15vw;
    min-width: 70vw;
    width: 70vw;
    max-width: 70vw;
  }
  @media screen and (min-width: $screen-md) {
    margin-left: 20vw;
    min-width: 60vw;
    width: 60vw;
    max-width: 60vw;
  }
  @media screen and (min-width: $screen-lg) {
    margin-left: 25vw;
    min-width: 50vw;
    width: 50vw;
    max-width: 50vw;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.two-colors-background-center-image-block-type-1 .title-block {
  width: 100vw;
  position: absolute;
  margin-top: 55vh;
  text-align: center;
}

.two-colors-background-center-image-block-type-1 h1 {
  padding-left: 5vw;
  padding-right: 5vw;
  color: $white;
  text-shadow: 0 0 10px #000;
}


.two-colors-background-center-image-block-type-1 .right-button, .left-button {
  position: absolute;
  display: inline;
  bottom: 0;
  padding: 8px 15px 5px 10px;
  width: auto;
  margin-bottom: 10vh;
  z-index: 2;
  border-radius: 4px;

  @media screen and (min-width: $screen-sm) {
    margin-bottom: 15vh;
    padding: 8px 15px 5px 20px;
  }
  @media screen and (min-width: $screen-md) {
    margin-bottom: 20vh;
    padding: 8px 15px 5px 25px;
  }
  @media screen and (min-width: $screen-lg) {
    margin-bottom: 25vh;
    padding: 8px 15px 5px 30px;
  }
}

.two-colors-background-center-image-block-type-1 .left-button {
  right: calc(50vw + 15px);

  @media screen and (min-width: $screen-sm) {
    right: calc(50vw + 15px);
  }
  @media screen and (min-width: $screen-md) {
    right: calc(50vw + 25px);
  }
  @media screen and (min-width: $screen-lg) {
    right: calc(50vw + 50px);
  }
}

.two-colors-background-center-image-block-type-1 .right-button {
  left: calc(50vw + 15px);

  @media screen and (min-width: $screen-sm) {
    left: calc(50vw + 15px);
  }
  @media screen and (min-width: $screen-md) {
    left: calc(50vw + 25px);
  }
  @media screen and (min-width: $screen-lg) {
    left: calc(50vw + 50px);
  }
}

.two-colors-background-center-image-block-type-1 .fa {
  margin-top: -5px;
  padding-left: 5px;
  font-size: 2em;
  vertical-align: middle;

  @media screen and (min-width: $screen-sm) {
    padding-left: 25px;
  }
  @media screen and (min-width: $screen-md) {
    padding-left: 30px;
  }
  @media screen and (min-width: $screen-lg) {
    padding-left: 30px;
  }
}

.two-colors-background-center-image-block-type-1 .scroll-down-button {
  position: absolute;
  margin-left: calc(50vw - 20px);
  bottom: 20vh;
  width: 40px;
  height: 40px;
  background-color: transparent;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
  display: none;
  text-align: center;
  cursor: pointer;
  color: white;

  @media screen and (max-width: $screen-md) {
    visibility: hidden;
  }
}

.two-colors-background-center-image-block-type-1 .scroll-down-button .fa {
  margin: 0;
  padding: 0;
  font-size: 3em;
  vertical-align: middle;
}